body,
html {
    background-color: black;
    color: green;
    font-family: monospace;
}
p::before,
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before,
span::before {
    content: ">$ echo ";
}
img.profile-image, img#profile-image {
    border-radius: 50%;
}
